
@mixin font-face($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$family}';
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$family}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

// @include font-face(Undies, /assets/fonts/undies);
// @include font-face(bob, /assets/fonts/bobby);