
/* Re-useable styles */

.cClear{
	clear:both;
}

a, a:visited, a:hover{
	color:#cc3300;
	text-decoration:none;
}

a:hover{
	color:#ee5500;
}

.cWrapper{
	max-width:900px;
	margin:0 auto;
}

header{
	position:relative;
	padding:10px 20px 20px;
	border-bottom:solid 1px #ddd;
	margin-bottom:20px;
}

header h1{
	background:url(../img/logowithstrap.png);
	width:380px; height:220px;
}

.cHighRes header h1{
	background-image:url();
}

header h1 span{
	display:none;
}

#iMobileNavigation{
	display:none;
}

#iMainNavigation{
	line-height:2;
	float:right;
}

#iMainNavigation li{
	float:left;
	margin-right:10px;
	padding-left:10px;
	border-left: solid 2px #eee;
	color:#ee5500;
	cursor:pointer;
}

#iMainNavigation li:first-child{
	border-left: none;
}

#iMainNavigation li:hover{
	color:#cc3300;
}

#iMainNavigation li.on{
	color:#cc3300;
	font-weight:bold;
}


footer{
	padding:10px;
	line-height:2;
}

footer li{
	float:left;
	margin-left:10px;
	padding-right:10px;
	border-right: solid 2px #eee;
}

footer p{
	float:right;
	clear:left;
	margin-left:10px;
}

#iPageContent{
	padding-bottom:20px;
	border-bottom:solid 1px #ddd;
	margin-bottom:20px;
	line-height:1.5;
}

#iPageContent h3{
	font-family: Georgia;
	font-size:3em;
	color:#666;
	margin-bottom:20px;
}

#iPageContent p, #iPageContent li{
	margin-bottom:20px;
}

@media only screen and (max-width: 600px), (max-device-width: 600px) {
	
	/* Small screen */
	header{
		padding:5px 10px 10px;
	}
	
	header h1{
		width:190px; height:110px;
		background-size:contain;
	}

	#iMobileNavigation{
		display:block;
		position:absolute;
		bottom:10px; right:10px;
	}
	
	#iMainNavigation{
		display:none;
	}
}




/* Swiper gallery */

.cSwiperView{
	clear:both;
	position:relative;
}

.cSwiperView p{
	text-align:center;
	opacity:0.13;
	font-size:35px;
	line-height:45px;
	margin:0;
}

.cSwiperView .cPlayPause,
.cSwiperView .cPrevArrow,
.cSwiperView .cNextArrow{
	background:url(../img/swipercontrols.png) no-repeat;
	position:absolute;
	bottom:10px;
	left:50%;
	width:50px; height:55px;
	cursor:pointer;
	z-index:99;
}

.cSwiperView .cPrevArrow{
	margin-left:-100px;
	background-position:-150px 0;
}

.cSwiperView .cPlayPause{
	margin-left:-25px;
	background-position:0 0;
}

.cSwiperView .cPlaying{
	background-position:-50px 0;
}

.cSwiperView .cNextArrow{
	margin-left:50px;
	background-position:-100px 0;
}

.cSwiperView .cPrevArrow:hover{
	background-position:-150px -55px;
}

.cSwiperView .cPlayPause:hover{
	background-position:0 -55px;
}

.cSwiperView .cPlaying:hover{
	background-position:-50px -55px;
}	

.cSwiperView .cNextArrow:hover{
	background-position:-100px -55px;
}
